.main{
  margin-left: 60px;
  margin: right 60px;
  background: rgb(255, 255, 255);
  padding: 50px;
}
/* #try{
    height: 400px;
    width: 300px;
    background: black;
} */
.links{
    text-align: right;
}
p a{
    text-decoration:none;
    color: black;
}

.head{
    font: size 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.skill{
    background-color: rgb(237, 236, 236);
    border-radius: 10px;
    border:none;
    padding:3px;
    line-height: 2;
}